In [1]:
# Module importieren
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression, LogisticRegression

In [2]:
# Daten in Pandas laden
data = pd.read_csv("fish-fat.dat", header = None)
data.head(3)

                                    0
0  Species\tFish\tFat.mean\tNoSamples
1                     a\t1\t19.080\t4
2                     a\t2\t16.476\t3

In [3]:
# Data Wrangling
data = data[0].str.split("\\t", expand = True)

header = data.iloc[0]
data.columns = header

data = data.iloc[1:-1]
data = data.reset_index(drop=True)

In [4]:
data

0  Species Fish Fat.mean NoSamples
0        a    1   19.080         4
1        a    2   16.476         3
2        a    3   11.606         1
3        b    1   14.101         1
4        b    2   18.631         4
5        b    3   12.155         2
6        c    1   15.601         2
7        c    2   20.109         1
8        c    3   16.874         3
9        d    1   13.303         1
10       d    2    9.152         2